@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Example Call API with AJAX
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>ItemCode</th>
                <th>ItemName</th>
                <th>ItemQty</th>
                <th>OrderDelivery</th>
                <th>OrderAddress</th>
                <th>PhoneNumber</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "https://localhost:7156/api/order",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='ItemCode'>" + item.itemCode + "</td>" +
                        "<td id='ItemName'>" + item.itemName + "</td>" +
                        "<td id='ItemQty'>" + item.itemQty + "</td>" +
                        "<td id='OrderDelivery'>" + item.orderDelivery + "</td>" +
                        "<td id='OrderAddress'>" +  + "</td>" +
                        "<td id='PhoneNumber'>" + item.phoneNumber + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>  